{%  extends 'index.html' %}

{%  load static %}

{%  block content %}

<div class="card-box">
  <ul class="list-group list-group-flush">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Klient</th>
          <th>Produkt</th>
            <th>Cena</th>
            <th>Deadline</th>
            <th>Akcje</th>
        </tr>
      </thead>
      {% for order in orderlist %}
      <tr>
        <td>
         {{ order.client }}
        </td>
        <td>
           {{ order.product }}
        </td>
      <td>{{ order.price }}</td>
          <td>{{ order.finish_date }}</td>
      <td>
          <a class="btn btn-secondary" href="{% url 'orderdelete' order.pk %}">Usuń</a>

      </td>
      </tr>
      {% endfor %}
    </table>
  </ul>
</div>


{%  endblock content %}