
<li class="nav-item">
    <a class="nav-link" href="{% url 'clientlist' %}">
        <i class="fas fa-fw fa-id-badge"></i>
        <span>Lista klientów</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'clientcreate' %}">
        <i class="fas fa-fw fa fa-plus-circle"></i>
        <span>Dodaj klienta</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'orderlist' %}">
        <i class="fas fa-fw fa fa-archive"></i>
        <span>Lista zamówień</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'ordercreate' %}">
        <i class="fas fa-fw fa fa-plus-circle"></i>
        <span>Dodaj zamówienie</span></a>
</li>